
.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 2%;
}

.carditem{
  /* width: 250px; */
  margin: 20px 35px;
  width: 18%; /* Adjust the width as needed */
  box-sizing: border-box;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  padding: 10px;
  border-radius: 8px;
  margin: 0 5px;
  border: none;
  background-color: rgb(240, 140, 17);
  cursor: pointer;
  font-weight: 800;

}

.arrows
{
  font-size: 25px;
  padding: 1px 10px;
}
