
<div class="details-container">
    <div class="img-container">
        <img class="img-poster" src={{cardData.picture}} alt="">
    </div>
    <div class="info-container">
        <h1>{{cardData.title}}</h1>
        <h3>Type : {{cardData.type}}</h3>
        <h4>Episodes: {{cardData.episodes}}</h4>
        <h4>Status: {{cardData.status}}</h4>
        <h4>Anime Season: {{cardData.animeSeason.season}} - {{cardData.animeSeason.year}}</h4>


        <div></div>
    </div>

</div>

<!-- {
    "sources": [
      "https://myanimelist.net/anime/54496"
    ],
    "title": "\"Ai\" wo Taberu",
    "type": "MOVIE",
    "episodes": 1,
    "status": "FINISHED",
    "animeSeason": {
      "season": "UNDEFINED",
      "year": 2018
    },
    "picture": "https://cdn.myanimelist.net/images/anime/1199/133411.jpg",
    "thumbnail": "https://cdn.myanimelist.net/images/anime/1199/133411t.jpg",
    "synonyms": [
      "Eating \"Love & Sorrow\"",
      "「あい」をたべる"
    ],
    "relations": [],
    "tags": [
      "drama"
    ]
  } -->